/* Empty. Add your own CSS if you like */

.item-avatar img {
    background-color: white;
}
.item-center{
text-align: center;
}

.heading{
    font-family: 'Pacifico', cursive;
}
.text-center{
    text-align: center;
}
