<div class="list" ng-app="dropped">
    <form role="form"  name="myForm" novalidate>
    <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" name="username" ng-model="username" required>
    </label>
    <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" name="password" ng-model="password" required>
    </label>
        <buttons class="button  button-blue" type="submit" ng-click="login()">
           Login
        </buttons>
        </form>

</div>