<div class="list row row-center" ng-app="dropped">
	<form class="col" role="form" name="myForm" novalidate>
		<label class="item item-input">
			<input type="text" name="username" ng-model="username" placeholder="Username" required>
		</label>
		<label class="item item-input">
			<input type="password" name="password" ng-model="password" placeholder="Password" required>
		</label>
		<button class="button button-full button-calm" type="submit" ng-click="login()">
			Login
		</button>
		<a class="button button-full button-royal" ng-href="/#/register">Don't have an account yet?</a>
	</form>
</div>





