<ion-pane class="back-color" ng-controller="Authentication">
	<input value="Products" type="text" name="page"></input>
	<ion-header-bar class="bar-stable"  >
		<h1 class="title">Available Products</h1>
		<button ng-controller="logOut" class="button button-positive" ng-click="logout()">Logout</button>
	</ion-header-bar>
	<ion-spinner class="loader" ng-hide="loader"></ion-spinner>
	<ion-content>
		<div class="list">
			<div ng-repeat="product in products" ng-show="loader">
				<a class="item item-avatar" ng-href='/#/details/{{product._id}}'>
					<img class="product-thumbnail" src={{product.productImg}}>

					<div>
						<h2>{{product.productName}}</h2>

						<p>{{product.productPrice}}</p>
					</div>
				</a>

			</div>

		</div>
	</ion-content>


</ion-pane>
