	  <ion-side-menus ng-controller="ContentController">
    <ion-side-menu-content>

<ion-pane class="back-color" >

	<ion-header-bar class="bar-stable">

	   <button menu-toggle="left" class="button button-icon icon ion-navicon-round" ng-click="toggleLeft"> </button>
		<h1 class="title" style="text-align:center;">Watched Product Detail</h1>
	</ion-header-bar>
	<ion-spinner class="loader" ng-hide="loader"></ion-spinner>
	<ion-content>

		<div class="list card item-center  back-color" ng-show="loader">

			<div class="item back-color">


				<h2>{{product.productName}}</h2>

			</div>


			<div class="item item-body back-color">
				<img class="" ng-src={{product.productImg}}>

			</div>

			<div class="item  tabs-secondary tabs-icon-left">
				<button class="button  button-dark" >
          Old Price
					 <i style="font-size:20px">&nbsp<strong>{{product.productPrice}}</strong></i>
				</button>
				<button class="button  button-royal" >
					Latest Price

          <i style="font-size:20px">&nbsp<strong>{{product.newProductPrice}}</strong></i>
				</button>
 <a href="{{product.productLink}}" style="text-decoration: none"><button class="button button-large button-block button-balanced">
     <i class="ion-android-cart" style="font-size:35px">&nbsp</i>Go To Shop
        </button></a>
			</div>
        
         


		</div>

	</ion-content>

</ion-pane>
 </ion-side-menu-content>
    <ion-side-menu side="left">
     <ion-list ng-controller="getProductsController">
    		<a ng-href="/#/watchproducts" style="text-decoration: none"> <ion-item nav-clear menu-toggle>  <h3>Watched Product</h3></ion-item></a>

    		
    		   <ion-item nav-clear   ng-click="showsub()">
    		 <h3>  <a>Stores<a></h3>
    		   <ion-list ng-show="submenu">
                  
                     <ion-item nav-clear   ng-click="showsubhome()">
    		 Homeshopping.pk
    		   <ion-list ng-show="submenuhome">
                <p ng-click="HomeshoppingSamsung()"><ion-item nav-clear menu-toggle>Samsung</ion-item></p>
                  <p ng-click="HomeshoppingQmobile()"><ion-item nav-clear menu-toggle>Qmobile</ion-item></p>
                  <p ng-click="HomeshoppingApple()"><ion-item nav-clear menu-toggle>Apple</ion-item></p>
                  <p ng-click="HomeshoppingHTC()"><ion-item nav-clear menu-toggle>HTC</ion-item></p>
                </ion-list>
                </ion-item>
                   	
                     <ion-item nav-clear   ng-click="showsubdaraz()">
    						 Daraz.pk
    		   <ion-list ng-show="submenudaraz">
                        <p ng-click="DarazSamsung()">    <ion-item nav-clear menu-toggle>Samsung</ion-item></p>
                  <p ng-click="DarazQmobile()">  <ion-item nav-clear menu-toggle>Qmobile</ion-item></p>
                  <p ng-click="DarazApple()">  <ion-item nav-clear menu-toggle>Apple</ion-item></p>
                  <p ng-click="DarazHTC()">   <ion-item nav-clear menu-toggle>HTC</ion-item></p>
                </ion-list>
                </ion-item>
                  
                     <ion-item nav-clear   ng-click="showsubbytes()">
    		 Bytes.pk
    		   		<ion-list ng-show="submenubytes">
                 <p ng-click="BytesSamsung()">    <ion-item nav-clear menu-toggle>Samsung</ion-item></p>
                  <p ng-click="BytesQmobile()">  <ion-item nav-clear menu-toggle>Qmobile</ion-item></p>
                  <p ng-click="BytesApple()">  <ion-item nav-clear menu-toggle>Apple</ion-item></p>
                  <p ng-click="BytesHTC()">   <ion-item nav-clear menu-toggle>HTC</ion-item></p>
                </ion-list>
            </ion-item>
                </ion-list>
                </ion-item>
                  
	 </ion-list>
    	
                  
    </ion-side-menu>
  </ion-side-menus>
