<ion-pane>

    <ion-header-bar class="bar-stable">
    <h1 class="title" style="text-align:center;">Product Detail</h1>
    <button class="button-clear" ng-click="myGoBack()">
        <i class="button icon-left ion-chevron-left button-clear button-dark"></i>
    </button>
</ion-header-bar>


    <ion-content>
        <div class="list card item-center">
            <div class="item">

                </div>
            <div class="item">
                <a>Daraz.pk</a>
            </div>
            <div class="item">
                <a>Bytes.pk</a>
            </div>
    </div>
    </ion-content>

</ion-pane>