 <ion-side-menus ng-controller="ContentController">
    <ion-side-menu-content>
  <ion-pane>

    <ion-header-bar class="bar-stable">
     <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleLeft"> </button>
    <h1 class="title" style="text-align:center;">Stores For Shopping</h1>

</ion-header-bar>


    <ion-content>
        <div class="list card item-center">
            <div class="item">

                </div>
            <div class="item">
                <a>Daraz.pk</a>
            </div>
            <div class="item">
                <a>Bytes.pk</a>
            </div>
            <div class="item">
                <a>Homeshopping.pk</a>
            </div>
    </div>
    </ion-content>

</ion-pane>
    
    </ion-side-menu-content>
    <ion-side-menu side="left">
   <ion-list>
            <a ng-href="/#/watchproducts"> <ion-item nav-clear menu-close>  <h3>Watched Product</h3></ion-item></a>

            
               <ion-item nav-clear   ng-click="showsub()">
               <a>Stores<a>
               <ion-list ng-show="submenu">
                  
                     <ion-item nav-clear   ng-click="showsubhome()">
             Homeshopping.pk
               <ion-list ng-show="submenuhome">
                    <ion-item nav-clear menu-close>Samsung</ion-item>
                    <ion-item nav-clear menu-close>Qmobile</ion-item>
                    <ion-item nav-clear menu-close>Apple</ion-item>
                     <ion-item nav-clear menu-close>HTC</ion-item>
                </ion-list>
                </ion-item>
                    
                     <ion-item nav-clear   ng-click="showsubdaraz()">
                             Daraz.pk
               <ion-list ng-show="submenudaraz">
                    <ion-item nav-clear menu-close>Samsung</ion-item>
                    <ion-item nav-clear menu-close>Qmobile</ion-item>
                    <ion-item nav-clear menu-close>Apple</ion-item>
                     <ion-item nav-clear menu-close>HTC</ion-item>
                </ion-list>
                </ion-item>
                  
                     <ion-item nav-clear   ng-click="showsubbytes()">
             Bytes.pk
                    <ion-list ng-show="submenubytes">
                    <ion-item nav-clear menu-close>Samsung</ion-item>
                    <ion-item nav-clear menu-close>Qmobile</ion-item>
                    <ion-item nav-clear menu-close>Apple</ion-item>
                     <ion-item nav-clear menu-close>HTC</ion-item>
                </ion-list>
            </ion-item>
                </ion-list>
                
                  
    </ion-side-menu>
  </ion-side-menus>
